:root {
    --mainColor: #ddd;
    --mainPadding: 10px;
    --margin: 5px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 8px;
}

.assign-1-shape-1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138, 43, 226);
    background-color: #8a2be2;
    margin-bottom: 5px;
}

.assign-1-shape-2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138, 43, 226, 50%);
    /* background-color: #8a2be2; */
    margin-bottom: 5px;

}

.assign-1-shape-3 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138, 43, 226, 0.1);
    /* background-color: #8a2be2; */
}

.assign-2-shape-1 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.assign-2-shape-2 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-2-shape-3 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin: 8px 8px 0px 0px;
}

.assign-2-shape-4 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    display: inline-block;
}

.assign-3-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-3-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-3-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 8px 8px 0px 0px;
}

.assign-3-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221, 221, 221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221, 221, 221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-4-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221, 221, 221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 8px 8px 0px 0px;
}

.assign-4-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: rgb(221, 221, 221, 30%);
    background-size: 50%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-5-shape-1 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border: 5px solid red;
    outline: 5px solid black;
}

.assign-5-shape-2 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
    outline: 5px solid black;
}

.assign-5-shape-3 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
    outline: 5px solid black;
}

.note-1 {
    padding: 12px;
    border-left: 8px solid red;
}

.note-3 {
    padding: 12px;
    border-left: 8px solid green;
}

.assign-6-shape-1 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}


.assign-6-shape-2 {
    visibility: hidden;
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}

.assign-6-shape-3 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid green; */
}

.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
.title {
    color: green;
}

.assign-7-shape-1,
.assign-7-shape-2,
.assign-7-shape-3,
.assign-7-shape-4 {
    background-color: #a52a2a;
    color: white;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    max-width: 400px;
}

.assign-7-shape-4 {
    height: 50px;
    overflow: hidden;
}

.shadow {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    text-shadow:
        1px 1px 0 #f44336,
        2px 2px 0 #2196f3,
        3px 3px 0 #9c27b0;
}

.one,
.two,
.three {
    font-size: 20px;
    text-align: center;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.three {
    text-transform: lowercase;
}

.text-1,
.text-2,
.text-3 {
    background-color: #EEE;
    padding: 20px;
    margin: 20px;
    width: 400px;
}

.text-2 {
    white-space: nowrap;
    overflow: hidden;
}

.text-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    text-transform: capitalize;
    text-align: center;
    width: 50px;
    padding: 10px;
    margin: 10px 600px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #009688;
    border-bottom: 5px solid #00514a;
}

.assign-8-shape-1 {
    border: 2px solid #ff5722;
    padding: 20px;
    width: 400px;
}

.pa {
    background-color: #EEE;
    border: inherit;
    padding: inherit;
    text-align: center;
}

.f1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.f2 {
    text-transform: capitalize;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.f3 {
    text-transform: capitalize;
    font-family: 'Jomhuria', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.f4 {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
}

.f5 {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}

.f6 {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
}

.parent2 {
    width: 800px;
    background-color: #EEE;
    float: left;
}

.full {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    margin-top: 15px;
    padding: 15px 0;
    margin-left: 15px;
    width: calc((100% - 30px));
}

.third {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 60px) / 3);
    margin-left: 15px;
    margin-top: 15px;
}

.half {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 45px) / 2);
    margin-left: 15px;
    margin-top: 15px;
}

.quatre {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 75px) / 4);
    margin-left: 15px;
    margin-top: 15px;
}

/* فاصل */
.section {
    height: 280px;
}

/* فاصل */

.normal,
.n-one,
.n-two {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #b3b3b3;
    /* Get The Background From Image */
    color: black;
}

.n-one {
    background-color: rgb(179, 179, 179, 0.1);
}

.n-two {
    opacity: 0.1;
}

.green,
.red,
.blue,
.black {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
}

.green {
    background-color: #009688;
    z-index: 2;
    left: 235px;
    top: 35px;
}

.red {
    background-color: #f44336;
    z-index: 3;
    left: 150px;
    top: 50px;
}

.blue {
    background-color: #03a9f4;
    z-index: 1;
    left: 20px;
    top: 20px;
}

.black {
    background-color: #333333;
    z-index: -1;
    left: -80px;
    top: 35px;
}

.task-two {
    text-align: center;
    background-color: #EEE;
    width: 400px;
    margin: 20px auto;
    border-top: 3px solid #f44336;
    border-bottom: 3px solid #f44336;
    border-right: 3px solid #2196f3;
    border-left: 3px solid #2196f3;
    position: relative;
}

.top-left {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: -20px;
    top: -15px;
    width: 30px;
    border-right: 3px solid #f44336;
}

.bottom-left {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: -20px;
    top: 102px;
    width: 30px;
    border-right: 3px solid #f44336;
}

.top-right {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: 385px;
    top: -15px;
    width: 30px;
    border-left: 3px solid #f44336;
}

.bottom-right {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: 385px;
    top: 102px;
    width: 30px;
    border-left: 3px solid #f44336;
}

.task-three {
    width: 400px;
    margin: 20px auto;
    list-style-type: none;
}

.task-child {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EEE;
}

.ol-one li {
    background-color: white;
    list-style-position: outside;
    padding: 15px;
    margin: 15px;
}

.ul-one {
    padding-bottom: 10px;
}

.ul-one li {
    background-color: white;
    list-style-position: inside;
    padding: 15px;
    margin: 15px;
}

table {
    width: 700px;
    margin: 20px auto;
}

thead {
    background-color: #404040;
    color: white;
    font-weight: lighter;
}

th {
    padding: 20px;

}

tbody {
    text-align: center;
    color: black;
    background-color: #EEE;
}

td {
    padding: 20px;
    position: relative;
    width: 150px;
}

.view,
.del {
    text-decoration: none;
    padding: 10px;
    color: white;
    position: absolute;
}

.view {
    background-color: #03a9f4;
    top: 30%;
    left: 4px;
}

.del {
    background-color: #e91e63;
    top: 30%;
    left: 68px;
}

.task-71 {
    width: 300px;
    height: 60px;
    background-color: #EEE;
    margin: 20px auto;
    text-align: center;
}

.task-7-1 {
    width: 300px;
    height: 60px;
    background-color: #ff0000;
    margin: 20px auto;
    text-align: center;
}

.task-73 {
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.task-73::first-letter {
    background-color: red;
    color: white;
    padding: 5px;
    float: left;
    margin-left: -20px;
    margin-top: -4px;
}

.p-74 {
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    border-left: 6px solid #e91e63;
    position: relative;
}

.p-74::before {
    content: attr(data-person);
    background-color: #dddddd;
    margin-left: -130px;
    margin-bottom: 10px;
    position: relative;
    top: -15px;
    padding: 15px;
    float: left;
}

.p-74::after {
    content: "";
    position: absolute;
    float: left;
    border: 15px solid;
    border-color: transparent #e91e63 transparent transparent;
    left: -34px;
    bottom: 18px;
}

.p-75 {
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    counter-increment: mem;
    border-right: 6px solid #f44336;
    position: relative;

}

.p-75::before {
    content: counter(mem);
    background-color: #f44336;
    padding: 20px;
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    margin-left: -50px;
}

.task-81 {
    width: 100px;
    height: 100px;
    background-color: #EEE;
    margin: 20px 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 245px;
    counter-increment: box;
    border: 2px solid black;
    box-shadow: -4px -4px #e91e63, 4px 4px #2196f3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.task-81::before {
    content: counter(box);
    color: white;
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    float: left;
    position: absolute;
    top: -12px;
    left: 42px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.task-81::after {
    content: "Element";
    position: absolute;
    top: 36px;
    right: 16px;
    font-weight: bold;
}

.task-82 {
    background-color: #EEE;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    box-shadow: -5px -5px 21px #b3b3b3 inset;
    border-radius: 20px 50px 20px 50px;
    -webkit-border-radius: 20px 50px 20px 50px;
    -moz-border-radius: 20px 50px 20px 50px;
    -ms-border-radius: 20px 50px 20px 50px;
    -o-border-radius: 20px 50px 20px 50px;
}

.patask-83 {
    width: 550px;
    margin: 20px auto;
    position: relative;
}

.left {
    width: 200px;
    background-color: #EEE;
    padding: 20px;
    position: relative;
    height: 250px;
    float: left;
}

.right {
    width: 200px;
    background-color: #EEE;
    padding: 20px;
    position: relative;
    height: 250px;
    float: right;
}

.basic {
    text-align: center;
    color: white;
    background-color: #2196f3;
    padding: 10px;
    position: absolute;
    float: left;
    top: 20px;
    left: 22px;
    width: 180px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.pro {
    text-align: center;
    color: white;
    background-color: #2196f3;
    padding: 10px;
    position: absolute;
    float: right;
    top: 20px;
    left: 22px;
    width: 180px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.free {
    background-color: #DDD;
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 21px;
    left: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.free::before {
    content: "Free";
    float: left;
    position: absolute;
    top: 74px;
    right: 63px;
    font-size: 40px;
}

.price {
    background-color: #DDD;
    width: 180px;
    height: 180px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 21px;
    left: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.price::before {
    content: "30$";
    float: left;
    position: absolute;
    top: 74px;
    right: 67px;
    font-size: 40px;
}

.patask-83::before {
    content: "or";
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: #2196f3;
    float: left;
    position: absolute;
    left: 261px;
    top: 130px;
    z-index: 4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.patask-83::after {
    content: "";
    width: 4px;
    height: 290px;
    background-color: #2196f3;
    float: left;
    position: absolute;
    left: 274px;
}

.patask-91 {
    background-color: #EEE;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    height: 200px;
    transition-duration: 0.5s;
}

.patask-91:hover {
    margin-top: 10px;
}

.task-91 {
    background-color: #DDD;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    width: 360px;
    transition: 0.5s ease 0.5s all;
    -webkit-transition: 0.5s ease 0.5s all;
    -moz-transition: 0.5s ease 0.5s all;
    -ms-transition: 0.5s ease 0.5s all;
    -o-transition: 0.5s ease 0.5s all;
}

.patask-91:hover .task-91 {
    margin-top: 40px;
}

.task-92 {
    font-size: 20px !important;
    width: 400px;
    margin: 20px auto;
    background-color: #EEE !important;
    border: none !important;
    color: black !important;
    padding: 15px !important;
    text-align: center;
    text-indent: -5000px;
    position: relative;
}

.task-92::after {
    content: "Elzero";
    position: absolute;
    text-indent: 0px;
    left: 188px;
    font-weight: bold;
}

.el {
    width: 500px;
    padding: var(--mainPadding, 10px);
    color: var(--mainColor, red);
    border: 4px solid var(--mainColor, black);
    margin: 20px auto;
}

.flex-1 {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    font-weight: bold;
    color: #ff5722;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 0px #03a9f4, 5px 0px #ff5722;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paflex-2 {
    background-color: #DDD;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}


.flex-2 {
    color: white;
    background-color: #ff5722;
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 5px 10px;
}

.paflex-3 {
    width: 600px;
    height: 300px;
    background-color: #EEEEEE;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.paflex-3 div {
    background-color: #607D8B;
    flex: 0 1 31%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.flex-one {
    order: 6;
    align-self: flex-end;
}

.flex-two {
    order: 5;
}

.flex-three {
    order: 2;
    align-self: flex-start;
}

.flex-four {
    order: 3;
}

.flex-five {
    order: 4;
}

.flex-six {
    order: 1;
}

.paflex-4 {
    width: 600px;
    height: 300px;
    background-color: #EEE;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-41 {
    width: 10px;
    height: 80px;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    flex: 0 1 31%;
}

.flex-42 {
    max-width: 50%;
    height: 100px;
    padding: 10px;
    color: white;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 31%;
    font-size: 20px;
    /* align-self: flex-end; */
}

.flex-43 {
    width: 10px;
    height: 80px;
    color: white;
    padding: 10px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    flex: 0 1 31%;
    font-size: 20px;
}

.paflex-5 {
    width: 600px;
    height: 300px;
    background-color: #EEEEEE;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.paflex-5 div {
    flex: 0 1 15%;
    height: 50%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.paflex-5 .one {
    background-color: #FF9800;
    order: 2;
}

.paflex-5 .two {
    background-color: #8BC34A;
    align-self: flex-end;
    order: 3;
}

.paflex-5 .three {
    background-color: #795548;
    order: 4;
}

.paflex-5 .four {
    background-color: #673AB7;
    align-self: flex-end;
    order: 1;
}

.page {
    background-color: #EEE;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo,
.links {
    background-color: var(--mainColor);
    margin: var(--margin);
    padding: var(--mainPadding);
    /* margin: 0; */
    display: flex;
    justify-content: center;
    width: calc(100% / 6);
}

.links {
    list-style-type: none;
    justify-content: flex-end;
    /* flex-grow: 1; */
}

.links li {
    padding-left: 20px;
}

.main-area {
    display: flex;
    justify-content: space-between;
}

.content,
.sidebar {
    padding: var(--mainPadding);
    margin: var(--margin);
    background-color: var(--mainColor);
    width: calc(100% / 4);
    height: 400px;
}

.footer {
    background-color: var(--mainColor);
    margin: var(--margin);
    padding: var(--mainPadding);
    display: flex;
    justify-content: space-between;
}

.task-54 {
    width: 600px;
    margin: 0 auto;
    padding: var(--mainPadding);
    background-color: #EEE;
    word-spacing: 2px;
    text-align: center;
    position: relative;
    border-left: 6px solid #ff5722;
    border-right: 6px solid #673ab7;
    /* display: flex;
    justify-content: center; */
}

.task-54::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #ff5722 20%, blue 20%, blue 40%, green 40%, green 60%, #e91e63 60%, #e91e63 80%, #673ab7 80%);
}

.task-54::after {
    content: '';
    position: absolute;
    top: 37px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #ff5722 20%, blue 20%, blue 40%, green 40%, green 60%, #e91e63 60%, #e91e63 80%, #673ab7 80%);
}

.task-54::first-letter {
    color: #ff5722;
}

.pa-inp {
    position: relative;
    width: 500px;
    margin: 10px auto;
}

.inp {
    border: none;
    caret-color: #ff5722;
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #EEE;
}

.inp:focus {
    outline: none;
}

.pa-inp::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #ff5722 50%, #009688 50%);
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 1fr;
    gap: 10px 10px;
}

.grid div {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "head head head head head head head head head head"
        "cont cont cont cont cont cont cont side side side"
        "foot foot foot foot foot foot foot foot foot foot";
}

.layout header {
    color: white;
    background-color: #03a9f4;
    padding: 10px;
    grid-area: head;
}

.layout section {
    color: white;
    background-color: #ff5722;
    padding: 10px;
    grid-area: cont;
}

.layout aside {
    color: white;
    background-color: #607d8b;
    padding: 10px;
    grid-area: side;
}

.layout footer {
    color: white;
    background-color: #009688;
    padding: 10px;
    grid-area: foot;
}

.grid-2 {
    background-color: #ddd;
    padding: 10px;
    width: 800px;
    height: 400px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px 10px;
}

.grid-2 div {
    background-color: #403f3f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-3 {
    background-color: #DDD;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px 10px;
    grid-template-areas: "num8 num8 num8 num8 num8 num8 num8 num8"
        "num2 num2 num2 num2 num2 num2 num3 num3"
        "num4 num4 num5 num5 num5 num5 num5 num5"
        "num6 num6 num5 num5 num5 num5 num5 num5"
        "num7 num7 num5 num5 num5 num5 num5 num5"
        "num1 num1 num1 num1 num1 num1 num1 num1";
}

.grid-3 div {
    color: white;
    padding: 10px;
    background-color: #03a9f4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-3 .gr-1 {
    grid-area: num1;
}

.grid-3 .gr-2 {
    grid-area: num2;
}

.grid-3 .gr-3 {
    grid-area: num3;
}

.grid-3 .gr-4 {
    grid-area: num4;
}

.grid-3 .gr-5 {
    grid-area: num5;
}

.grid-3 .gr-6 {
    grid-area: num6;
}

.grid-3 .gr-7 {
    grid-area: num7;
}

.grid-3 .gr-8 {
    grid-area: num8;
}

.grid-4 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px 10px;
    align-content: space-between;
}

.grid-4 div {
    color: white;
    background-color: #e91e63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-1 {
    background-color: #eeeeee;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
}

.grid-5 div {
    background-color: #ffffff;
    padding: 30px 20px;
    border-bottom: 3px solid #f54e1f;
    position: relative;
}

.grid-5 div span {
    font-size: 60px;
    position: absolute;
    bottom: -25px;
    right: 10px;
    color: gray;
}

.gr-5 p {
    line-height: 1.5;
}

.name {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 20px;
}

.job {
    color: gray;
    font-weight: bold;
    margin-bottom: 15px;
}

.about {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
}

.item-c,
.item-e,
.item-h {
    background-color: black !important;
    color: #ffffff !important;
}

.item-a {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

.item-e {
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
}

.item-f {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
}

.item-d {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
}

.item-c {
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
}

.task_1 {
    width: 300px;
    height: 200px;
    font-size: 30px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;
    color: #2196f3;
    font-weight: bold;
    position: relative;
}

.task_1::before {
    content: '';
    position: absolute;
    z-index:-1;
    width: 300px;
    height: 200px;
    background-color: #2196f3;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

.task_1::after {
    content: '';
    position: absolute;
    z-index:-2;
    width: 300px;
    height: 200px;
    background-color: #e91e63;
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

.task_2 {
    color: black;
    width: 200px;
    height: 200px;
    font-size: 30px;
    font-weight: bold;
    background-color: #EEE;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}