body {
    margin: 8px;
}

.assign-1-shape-1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226);
    background-color: #8a2be2;
    margin-bottom: 5px;
}

.assign-1-shape-2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226,50%);
    /* background-color: #8a2be2; */
    margin-bottom: 5px;

}

.assign-1-shape-3 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226,0.1);
    /* background-color: #8a2be2; */
}

.assign-2-shape-1 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.assign-2-shape-2 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-2-shape-3 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-2-shape-4 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    display: inline-block;
}

.assign-3-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-3-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-3-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-3-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    background-color: rgb(221, 221, 221 , 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-4-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-4-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: rgb(221,221,221, 30%);
    background-size: 50%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-5-shape-1 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border: 5px solid red;
    outline: 5px solid black;
}

.assign-5-shape-2 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
    outline: 5px solid black;
}

.assign-5-shape-3 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
    outline: 5px solid black;
}

.note-1 {
    padding: 12px;
    border-left: 8px solid red;
}

.note-3 {
    padding: 12px;
    border-left: 8px solid green;
}

.assign-6-shape-1 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}


.assign-6-shape-2 {
    visibility: hidden;
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}

.assign-6-shape-3 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid green; */
}

.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
.title {
    color: green;
}

.assign-7-shape-1,
.assign-7-shape-2,
.assign-7-shape-3,
.assign-7-shape-4 {
    background-color: #a52a2a;
    color: white;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    max-width: 400px;
}

.assign-7-shape-4 { 
    height: 50px;
    overflow: hidden; 
}

.shadow {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 
    1px 1px 0 #f44336,
    2px 2px 0 #2196f3,
    3px 3px 0 #9c27b0;
}

.one,
.two,
.three {
    font-size: 20px;
    text-align: center;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.three {
    text-transform: lowercase;
}

.text-1,
.text-2,
.text-3 {
    background-color: #EEE;
    padding: 20px;
    margin: 20px;
    width: 400px;
}

.text-2 {
    white-space: nowrap;
    overflow: hidden;
}

.text-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    text-transform: capitalize;
    text-align: center;
    width: 50px;
    padding: 10px;
    margin: 10px 600px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #009688;
    border-bottom: 5px solid #00514a;
}

.assign-8-shape-1 {
    border: 2px solid #ff5722;
    padding: 20px;
    width: 400px;
}

.pa {
    background-color: #EEE;
    border: inherit;
    padding: inherit;
    text-align: center;
}

.f1 {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.f2 {
    text-transform: capitalize;
    font-family: 'Cairo', sans-serif;    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.f3 {
    text-transform: capitalize;
    font-family: 'Jomhuria', cursive;    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.f4 {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
}

.f5 {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
}

.f6 {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
}

.parent2 {
    width: 800px;
    background-color: #EEE;
    float: left;
}

.full {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    margin-top: 15px;
    padding: 15px 0;
    margin-left: 15px;
    width: calc((100% - 30px));
}

.third {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 60px) / 3);
    margin-left: 15px;
    margin-top: 15px;
}

.half {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 45px) / 2);
    margin-left: 15px;
    margin-top: 15px;
}

.quatre {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: calc((100% - 75px) / 4);
    margin-left: 15px;
    margin-top: 15px;
}

/* فاصل */
.section {
    height: 280px;
}
/* فاصل */

.normal,
.n-one,
.n-two {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: #b3b3b3; /* Get The Background From Image */
    color: black;
}

.n-one {
    background-color: rgb(179, 179, 179, 0.1);
}

.n-two {
    opacity: 0.1;
}

.green,
.red,
.blue,
.black {
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
}

.green {
    background-color: #009688;
    z-index: 2;
    left: 235px;
    top: 35px;
}

.red {
    background-color: #f44336;
    z-index: 3;
    left: 150px;
    top: 50px;
}

.blue {
    background-color: #03a9f4;
    z-index: 1;
    left: 20px;
    top: 20px;
}

.black {
    background-color: #333333;
    z-index: -1;
    left: -80px;
    top: 35px;
}

.task-two {
    text-align: center;
    background-color: #EEE;
    width: 400px;
    margin: 20px auto;
    border-top: 3px solid #f44336;
    border-bottom: 3px solid #f44336;
    border-right: 3px solid #2196f3;
    border-left: 3px solid #2196f3;
    position: relative;
}

.top-left {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: -20px;
    top: -15px;
    width: 30px;
    border-right: 3px solid #f44336;
}

.bottom-left {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: -20px;
    top: 102px;
    width: 30px;
    border-right: 3px solid #f44336;
}

.top-right {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: 385px;
    top: -15px;
    width: 30px;
    border-left: 3px solid #f44336;
}

.bottom-right {
    text-align: center;
    color: white;
    background-color: #2196f3;
    position: absolute;
    left: 385px;
    top: 102px;
    width: 30px;
    border-left: 3px solid #f44336;
}

.task-three {
    width: 400px;
    margin: 20px auto;
    list-style-type: none;
}

.task-child {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EEE;
}

.ol-one li {
    background-color: white;
    list-style-position: outside;
    padding: 15px;
    margin: 15px;
}

.ul-one {
    padding-bottom: 10px;
}

.ul-one li {
    background-color: white;
    list-style-position: inside;
    padding: 15px;
    margin: 15px;
}

table {
    width: 700px;
    margin: 20px auto;
}

thead {
    background-color: #404040;
    color: white;
    font-weight: lighter;
}

th {
    padding: 20px;

}

tbody {
    text-align: center;
    color: black;
    background-color: #EEE;
}

td {
    padding: 20px;
    position: relative;
    width: 150px;
}

.view,
.del {
    text-decoration: none;
    padding: 10px;
    color: white;
    position: absolute;
}

.view {
    background-color: #03a9f4;
    top: 30%;
    left: 4px;
}

.del {
    background-color: #e91e63;
    top: 30%;
    left: 68px;
}

.task-71 {
    width: 300px;
    height: 60px;
    background-color: #EEE;
    margin: 20px auto;
    text-align: center;
}

.task-7-1 {
    width: 300px;
    height: 60px;
    background-color: #ff0000;
    margin: 20px auto;
    text-align: center;
}

.task-73 {
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.task-73::first-letter {
    background-color: red;
    color: white;
    padding: 5px;
    float: left;
    margin-left: -20px;
    margin-top: -4px;
}

.p-74 {
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    border-left: 6px solid #e91e63;
    position: relative;
}

.p-74::before {
    content: attr(data-person);
    background-color: #dddddd;
    margin-left: -130px;
    margin-bottom: 10px;
    position: relative;
    top: -15px;
    padding: 15px;
    float: left;
}

.p-74::after {
    content: "";
    position: absolute;
    float: left;
    border: 15px solid;
    border-color: transparent #e91e63 transparent transparent;
    left: -34px;
    bottom: 18px;
}

.p-75 {
    background-color: #eee;
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    counter-increment: mem;
    border-right: 6px solid #f44336;
    position: relative;

}

.p-75::before{
    content: counter(mem);
    background-color: #f44336;
    padding: 20px;
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    margin-left: -50px;
}