body {
    margin: 8px;
}

.assign-1-shape-1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226);
    background-color: #8a2be2;
    margin-bottom: 5px;
}

.assign-1-shape-2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226,50%);
    /* background-color: #8a2be2; */
    margin-bottom: 5px;

}

.assign-1-shape-3 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(138,43,226,0.1);
    /* background-color: #8a2be2; */
}

.assign-2-shape-1 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.assign-2-shape-2 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-2-shape-3 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-2-shape-4 {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    color: white;
    background-color: rgb(221, 221, 221, 30%);
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    display: inline-block;
}

.assign-3-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-3-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-3-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221, 221, 221, 30%);
    color: white;
    padding: 8px;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-3-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat;
    background-color: rgb(221, 221, 221 , 30%);
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-4-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin: 0 0 8px 8px;
}

.assign-4-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: rgb(221,221,221, 30%);
    background-size: 80%;
    color: white;
    padding: 8px;
    display: inline-block;
    margin:8px 8px 0px 0px;
}

.assign-4-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(../img/css-assignment.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: rgb(221,221,221, 30%);
    background-size: 50%;
    color: white;
    padding: 8px;
    display: inline-block;
}

.assign-5-shape-1 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border: 5px solid red;
    outline: 5px solid black;
}

.assign-5-shape-2 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
    outline: 5px solid black;
}

.assign-5-shape-3 {
    display: inline-block;
    color: black;
    padding: 20px;
    margin: 20px;
    background-color: #EEE;
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
    outline: 5px solid black;
}

.note-1 {
    padding: 12px;
    border-left: 8px solid red;
}

.note-3 {
    padding: 12px;
    border-left: 8px solid green;
}

.assign-6-shape-1 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}


.assign-6-shape-2 {
    visibility: hidden;
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid red; */
}

.assign-6-shape-3 {
    width: 400px;
    background-color: #EEE;
    padding: 20px 20px 20px 10px;
    /* border-left: 8px solid green; */
}

.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
.title {
    color: green;
}

.assign-7-shape-1,
.assign-7-shape-2,
.assign-7-shape-3,
.assign-7-shape-4 {
    background-color: #a52a2a;
    color: white;
    padding: 20px;
    margin: 20px;
    width: fit-content;
    max-width: 400px;
}

.assign-7-shape-4 { 
    height: 50px;
    overflow: hidden; 
} 